@import 'base/mixins';

.sold {
  filter: grayscale(100%)
}

.info-block {
  display: inline-flex;
  align-items: center;
  line-height: 15px;
  padding: 0 10px 0 0;

  .icon, .info {
    display: inline-block;
  }

  .icon {
    font-size: 20px;
    padding: 3px 8px 3px 3px;
  }

  .info {
    font-size: 15px;
  }
}

// show

.save-car-star {
  font-size: 30px;
}

.car-show {
  margin: 50px 50px 200px 50px;
  position: relative;
  min-height: 75vh;
  background: $white;

  -moz-animation-duration: 0.3s;
  -moz-animation-delay: 0s;

  .images-wrapper {
    width: 100%;

    .car-images {
      .image-set {
        .images {
          @include transition(0.2s, ease-in-out);

          .image {
            @include transition(0.1s, ease-in-out);
            display: inline-block;
            margin: 5px 5px 0 0;

            &.thumb {
              &:nth-child(14n) {
                margin-right: 0;
              }
            }

            &.active-thumb {
              padding-bottom: 5px;
              border-bottom: 2px solid $dark-grey;
            }
          }
        }
      }
    }
  }

  .car-description {
    padding-top: 20px;
    padding-right: 50px;

    .information {
      padding-top: 10px;

      .section {
        padding-top: 20px;
      }

      .options {
        font-weight: 500;
      }
    }
  }

  .section {
    &.similar-cars {
      padding: 0;
    }

    &.cards {
      .about {
        background-color: $white;
        margin-left: -35px;
      }

      .suggestions-wrapper {
        background-color: $white;
        margin-right: -35px;

        .swap, .trade {
          &.declined {
            filter: grayscale(100%)
          }
        }
      }

      .material-card {
        &.about, &.questions, &.suggestions-wrapper {
          h5 {
            padding-bottom: 20px;
          }
        }
      }
    }
  }

  .actions {
    i {
      font-size: 2em;
    }
  }

  .statistic {
    i {
      font-size: 15px;
      padding-right: 10px;
    }
  }
}

.arrow {
  font-size: 30px;
  font-weight: 100;
  z-index: 2;

  &.next-car, &.prev-car {
    position: absolute;
    top: 50%;
    display: inline-block;
    font-size: 50px;
  }

  &.next-car {
    right: -43px;
  }

  &.prev-car {
    left: -43px;
  }
}

.car-card-small {
  .image-container {
    color: $white;
    position: relative;

    .img-hover {
      @include transition(0.2s, ease-out);

      width: 100%;
      padding: 0.5em;
      background-color:rgba(0, 0, 0, 0.5);
      position: absolute;
      bottom: 0;

      max-height: 35px;
      overflow: hidden;

      h5 {
        font-size: 1.1em;
      }
    }

    &:hover {
      @include transition(0.2s, ease-in-out);

      .img-hover {
        @include transition(0.2s, ease-in);
        background-color:rgba(0, 0, 0, 0.7);
        max-height: 100%;
      }
    }

  }
}

// index

.cars-index {
  .card {
    margin-left: 5px;
    margin-right: 5px;
  }
}