.user {
  .profile-header {
    background-color: $very-light-grey;
    padding: 25px;

    h5, ul {
      margin: 0;
    }

    ul {
      &.header-list {
        li {
          padding: 0 1em;
          display: inline;
        }
      }
    }

    .badge {
      vertical-align: top;
    }
  }

  #user-tabs-content {
    padding-top: 25px;
  }

  #notifications {
    .notification {
      padding: 15px;
      border-bottom: 1px solid $light-grey;

      &:hover {
        background-color: $white;
      }

      &.unreaded {
        &:before {
          position: absolute;
          left: -13px;
          content: 'new';
          color: $red;
        }
      }
    }
  }
}
