@import 'mixins';

// show

.car-show{
  margin: 50px 50px 200px 50px;
  position: relative;
  min-height: 75vh;
  @extend .material-card.extra-large;

  -moz-animation-duration: 0.3s;
  -moz-animation-delay: 0s;
  //-moz-animation-iteration-count: infinite;

  .left-part, .right-part {
    padding: 10px 0;
    border: 1px dotted black;
  }

  .left-part {
    padding-left: 20px;
  }

  .images-wrapper {
    width: 100%;

    .car-images {
      .image-set {
        position: absolute;

        .images {
          text-align: center;
          @include transition(0.2s, ease-in-out);

          .image {
            @include transition(0.1s, ease-in-out);
            display: inline-block;
            margin: 5px 0 0 5px;

            &.active-thumb {
              padding-bottom: 5px;
              border-bottom: 2px solid $light-grey;
            }
          }
        }
      }
    }
  }

  .right-part {
    padding-right: 20px;

    .description {
      word-wrap: break-word;
    }
  }
}

.arrow {
  font-size: 30px;
  font-weight: 100;

  &.next-car, &.prev-car {
    position: absolute;
    top: 50%;
    display: inline-block;
    font-size: 50px;
  }

  &.next-car {
    right: 0;
  }

  &.prev-car {
    left: 0;
  }
}

// index