@import 'mixins';

// show

.car-show{
  margin: 50px 50px 200px 50px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  position: relative;
  min-height: 75vh;

  .left-part, .right-part {
    padding: 10px 0;
    border: 1px dotted black;
  }

  .left-part {
    padding-left: 20px;
  }


  .images-wrapper {
    width: 100%;

    .car-images {
      .image-set {
        position: absolute;

        .images {
          text-align: center;
          @include transition(0.2s, ease-in-out);

          .image {
            @include transition(0.1s, ease-in-out);
            display: inline-block;
            margin: 5px 0 0 5px;

            &.active {
              img {
                width: 100% !important;;
                height: 100% !important;
              }
            }

            &.active-thumb {
              padding-bottom: 5px;
              border-bottom: 2px solid $light-grey;
            }
          }
        }
      }
    }
  }

  .right-part {
    padding-right: 20px;

    .description {
      word-wrap: break-word;
    }
  }
}

.arrow {
  font-size: 30px;
  font-weight: 100;

  &.next-car, &.prev-car {
    display: inline-block;
    font-size: 50px;
  }
}

// index

.card {
  @include transition(0.2s, ease-in-out);
  background: #fff;
  border-radius: 2px;
  position: relative;
  border: none;

  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

  .card-img {
    overflow: hidden;
  }

  img.card-img-top {
    @include transition(0.2s, ease-in-out);
  }

  &:hover {
    @include transition(0.2s, ease-in-out);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

    img.card-img-top {
      @include transition(0.2s, ease-in-out);
      @include scale(1.2);
    }
  }
}