@import "base/mixins";
//@import "base/fonts";
@import "fonts/google_sans";
@import "base/modal";
@import "base/animations";
@import "base/bootstrap_overrides";

//@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|Roboto:100,300,300i,400,400i,500,700,900&subset=cyrillic');

html, body {
  background: linear-gradient($light-grey, $very-light-grey);
  //font-family: 'Roboto', sans-serif;
  //font-family: 'Roboto Condensed', sans-serif;

  //font-family: 'Roboto', 'Roboto Condensed', sans-serif;
  font-family: 'Google Sans', 'Roboto Condensed', 'Roboto', sans-serif;

  font-weight: 300;
  font-size: 14px;
}

h1, h2, h3, h4, h5 {
  &.thin {
    font-weight: 100;
  }
}

.font-100 {
  font-weight: 100;
}

.font-300 {
  font-weight: 300
}

.font-400 {
  font-weight: 400
}

.font-500 {
  font-weight: 500
}

.font-700 {
  font-weight: 700
}

.font-900 {
  font-weight: 900
}

.grey {
  color: $grey;
}

.gold {
  color: $orange;
}

.bold {
  font-weight: 500;
}

a {
  color: $black;
  text-decoration: none;
  border: none;
  outline: none;
  @include transition(0.2s, ease-in-out);

  &:hover {
    @include transition(0.2s, ease-in-out);
    text-decoration: none;
    border: none;
    outline: none;
    color: $coral;
  }

  &:focus {
    text-decoration: none;
    border: none;
    outline: none;
  }

  &.active {
    color: $coral;
  }

  &.delete {
    color: $red;
  }
}

#header {
  position: relative;
  width: 100%;
  min-height: 100px;
  background: $white;
}

#wrapper {
  min-height: calc(100vh - 100px);
  padding: 50px 0 100px 0;
}

#footer {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  margin-top: -100px;
  min-height: 100px;
  width: 100%;
}

#search {
  padding: 15px;
}

.pointable {
  cursor: pointer;
}

.background-orange {
  background-color: $orange;
}

.section {
  position: relative;
  z-index: 1;
}

//.margin-left--35 {
//  margin-left: -35px;
//}
//
//.margin-right--35 {
//  margin-right: -35px;
//}

.no-margin {
  margin: 0 !important;
}

.no-padding {
 padding: 0 !important;
}

.material-card {
  padding: 15px 20px;

  &.small {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }

  &.medium {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }

  &.large {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

  &.extra-large {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }

  &.hoverable {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

    &:hover {
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
  }
}

.card {
  @include transition(0.2s, ease-in-out);
  background: $white;
  border-radius: 0;
  border: none;
  position: relative;

  .card-footer {
    border-radius: 0;
    border: none;
  }

  .card-img, .card-img-top {
    overflow: hidden;
    border-radius: 0;
    border: none
  }

  img.card-img-top {
    @include transition(0.2s, ease-in-out);
    border: none
  }

  &:hover {
    @include transition(0.2s, ease-in-out);

    img.card-img-top {
      @include transition(0.2s, ease-in-out);
      @include scale(1.2);
    }
  }
}

.user-card {
  .body {
    padding-left: 15px;
  }
}

