$black: #000;
$white: #fff;
$orange: #ff3d35;
$coral: #EC7B71;
$red: #960a00;
$dark-grey: #09090980;
$light-grey: #f8f9fa;

@mixin transition($time, $typeAnimation){
  -webkit-transition: all $time $typeAnimation;
  -moz-transition: all $time $typeAnimation;
  -o-transition: all $time $typeAnimation;
  transition: all $time $typeAnimation;
}

@mixin scale($time){
  -moz-transform: scale($time);
  -webkit-transform: scale($time);
  -o-transform: scale($time);
  -ms-transform: scale($time);
  transform: scale($time);
}
