$blue: #4285F4;
$red: #EA4335;
$orange: #FBBC05;
$green: #34A853;
$light-red: #ff3d35;
$coral: #EC7B71;
$dark-red: #960a00;

$white: #fff;
$light-grey: #E0E0E0;
$very-light-grey: #f8f9fa;
$grey :#9D9D9D;
$dark-grey: #09090980;
$black: #000;

@mixin transition($time, $typeAnimation){
  -webkit-transition: all $time $typeAnimation;
  -moz-transition: all $time $typeAnimation;
  -o-transition: all $time $typeAnimation;
  transition: all $time $typeAnimation;
}

@mixin scale($time){
  -moz-transform: scale($time);
  -webkit-transform: scale($time);
  -o-transform: scale($time);
  -ms-transform: scale($time);
  transform: scale($time);
}
