$black: #000;
$white: #fff;
$orange: #ff3d35;
$coral: #EC7B71;
$red: #960a00;

@mixin transition($time, $typeAnimation){
  -webkit-transition: all $time $typeAnimation;
  -moz-transition: all $time $typeAnimation;
  -o-transition: all $time $typeAnimation;
  transition: all $time $typeAnimation;
}
