= react_component("HelloWorld", { greeting: "Hello" })
.container
  .row.mx-auto
    - @cars.each_slice(4) do |cars|
      .card-deck
        - cars.each do |car|
          .card.mb-3{style: 'width: 18rem;'}
            = react_component('Card', car.to_card_json.merge(car_path: car_path(car)))
