- content_for :head do
  %meta{:content => "no-cache", :name => "turbolinks-cache-control"}/

.container-fluid
  = render 'shared/search'
  
  .row
    .col-2
      = render 'shared/filters'
    .col-8
      .container.cars-index
        .row
          .js-items-container
            = render 'index', cars: @cars

  .row
    .col
      .spinner.text-center
        %i.fa.fa-spinner.fa-spin
      #loadMore{'data-endpoint' => request.path, 'data-pages-amount' => @cars.total_pages}
        = hidden_field_tag :page, nil, value: 1
