- content_for :head do
  %meta{:content => "no-cache", :name => "turbolinks-cache-control"}/

.container.cars-index
  .row
    - @cars.each_slice(4) do |cars|
      .card-deck.mx-auto
        - cars.each do |car|
          .mb-3{style: 'width: 20rem;'}
            = react_component('car/car_card', car.to_card_json.merge(car_path: car_path(car)))
