= link_to @next_car do
  .arrow.prev-car.pointable
    %i.fa.fa-angle-left

= react_component('Car', { car: @car.to_json })
%hr
%h1 alo

= link_to @prev_car do
  .arrow.next-car.pointable
    %i.fa.fa-angle-right