#header {
  position: relative;
  width: 100%;
  background: $white;
  font-weight: 500;

  .col-3 {
    padding: 0;

    .buy-car, .sale-car {
      height: 100%;
      border-right: 1px solid $graphite;
    }
  }

  .notification-bell {
    font-weight: bolder;
    
    &.active {
      font-weight: bolder;
      animation: 1s bell-vibrate ease-in-out infinite;

      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        font-size: 7px;
        border: 3px solid $red;
        border-radius: 50%;
      }
    }
  }
}